/* Спецификация */

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

.title {
    padding-top: 70px;
    padding-bottom:70px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.black {
    color: #000000;
}


/* Первый экран */

.header {
    background: url(img/cool-background.jpg);
    background-size: cover;
    padding-top:58px;
    height: 100vh;
}

.menu {
    margin-top:8px;
}

.menu__item {
    margin: 0 57px;
}

.menu__item a {
    font-size:22px;
    font-weight:700;
    color: #000;
}

.form {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.form__input {
    background: deepskyblue;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 14px 0;
    border: 0;
    padding-left:23px;
    margin-top: 40px;
    outline: none;
    margin-left:auto;
    margin-right:auto;
}

.form__message {
    background: deepskyblue;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 14px 0;
    border: 0;
    padding-left:23px;
    margin-top: 40px;
    outline: none;
    margin-left:auto;
    margin-right:auto;
}

.form__btn {
    font-family: 'PT Sans', sans-serif;
    background: #000;
    color: #fcdb00;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 14px 0;
    cursor: pointer;
    outline: none;
    margin-top: 60px;
    margin-left:65px;

}

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:nth-child(3) {
        margin-right: 0;
    }
    .form__input {
        margin-right:0;
        width: 100%;
    }
    .form__btn {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .koichi {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }
}
